<a href="https://colab.research.google.com/github/jyporse/YOLO/blob/main/Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python sqlite3 라이브러리 Import

In [ ]:
import sqlite3

#### sqlite 데이터베이스 연결

In [ ]:
# sqlite 데이터베이스 연결
dbpath = "test.sqlite"
conn = sqlite3.connect(dbpath)

#### 테이블 생성 및 데이터 넣기

In [ ]:
# 테이블을 생성하고 데이터 넣기
cur = conn.cursor()
cur.executescript("""
/* items 테이블이 존재한다면 제거하기 */
DROP TABLE IF EXISTS items;

/* 테이블 생성하기 */
CREATE TABLE items(
    item_id INTEGER PRIMARY KEY,
    name TEXT UNIQUE,
    price INTEGER
);

/* 데이터 넣기 */
INSERT INTO items (name, price) VALUES ('Apple', 800);
INSERT INTO items (name, price) VALUES ('Orange', 780);
INSERT INTO items (name, price) VALUES ('Banana', 430);
""")

#### 데이터베이스에 반영하고 데이터 추출하기

In [ ]:
# 데이터베이스에 반영하기
conn.commit()

# 데이터 추출
cur = conn.cursor()
cur.execute("SELECT item_id,name,price FROM items")
item_list = cur.fetchall()

#### 데이터 출력

In [ ]:
for it in item_list:
    print(it)

### 여러 데이터를 한번에 넣기

In [ ]:
# 테이블을 생성하고 데이터 넣기
cur = conn.cursor()


data = [("Mango", 7700), ("Kiwi", 4000), ("Grape", 8000), ("Persimmon", 7000)]
cur.executemany(
    "REPLACE INTO items(name,price) VALUES(?,?)",
    data)

conn.commit()

cur = conn.cursor()
price_range = (4000,7500)
cur.execute(
    "SELECT * FROM items WHERE price>=? AND price<=?",
    price_range
)
fr_list = cur.fetchall()
for fr in fr_list:
    print(fr)

### MySql 연동을 위한 모듈 설치하기

In [ ]:
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

In [ ]:
#Import Module
import pandas as pd
import pymysql

#### MySQL을 연결해서 데이터 불러오기

In [ ]:
conn = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = 'root',
    passwd = 'emforhs12',
    db = 'mysql'
)
sql_state= 'select * from table_name;'
df = pd.read_sql_query(sql_state, conn)